<!--
  Generated template for the BadgeCollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Animal Badge Collection
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #f2f2f2;">
  <img src="assets/imgs/profile_bgcover.jpg" alt="">

  <div class="grid-box">
    <ion-grid>
      <ion-row *ngFor="let b of badges">
        <ion-col>
          <div class="badge-card" (click)="playSound(b[0].soundpath, b[0].id)">
            <img src="{{b[0].asset}}" alt="">
            <h2>{{b[0].name}}</h2>
          </div>
        </ion-col>
        <ion-col *ngIf="b[1] !== undefined; else emptycard">
          <div class="badge-card" (click)="playSound(b[1].soundpath, b[1].id)">
            <img src="{{b[1].asset}}" alt="">
            <h2>{{b[1].name}}</h2>
          </div>
        </ion-col>
        <ng-template #emptycard>
          <ion-col>
            <div class="badge-card view-hidden"></div>
          </ion-col>
        </ng-template>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
