page-zoo-map {
    #map_canvas {
        //max-height: 100% !important;
        height: 85% !important;
    }

    .zoo-navigation {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #08a965;
            text-align: center;
            width: 100%;

            li {
                float: left;
            }

            li a {
                display: table-cell;
                color: #aaa;
                text-align: center;
                text-decoration: none;
                font-size: 13px;
                padding: 12px;
                font-weight: 600;
            }

            li a:hover, li a:active {
                background-color: #38745b;
                color: #fff;
            }
        }
    }

    .lost-pos {
        text-align: center;
        padding: 10px 0px;
        font-size: 11px;
    }
}
