page-photobooth {
    ion-content {
        button {
            border-radius: 10px !important;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
            padding: 23px !important;
        }

        ion-icon {
            padding: 0 10px;
            font-size: 23px;
        }
        h1 {
            margin: 0px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
